$path--rel: "../images"; 

@mixin background-image($img, $background-position, $background-size) {
    background: linear-gradient(rgba(121, 204,230,.4),rgba(121, 204,230,.4)), url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: $background-size;

} 



