.site-header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.site-header nav ul {
    display: flex;
    margin: 0;
    padding: 2rem 0;
    flex-wrap:wrap;
}

.site-header nav li {
    display: block;
    list-style: none outside;
    flex: 1 0 auto;
}

.site-header nav li a {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(19, 26, 19);
    text-decoration: none;
}

.site-header nav li a:focus, .site-header nav li a:hover {
    color: #57BBBF;
    transition: color 0.4s ease 0s;
}
