.main-container{
    background: rgb(222, 222, 222);
}

.personal, .career{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
   
    
}

.personal article, .career article{
    width: 31%;
    margin: auto;
    text-align: justify;
    background: white;
    padding: 7rem 4rem;
     box-shadow: 30px -33px 60px -17px rgba(0,0,0,0.52);
    
}
.main-container h3{
    padding-top:2rem;
}

.personal article h4, .career article h4,
.personal article h4, .career article h4,
.personal article .price, .career article .price,
.personal article .price, .career article .price
{
    text-align: center;
}
