.site-content{
    text-align: center;
}
.home p{
    font-size: 2rem;
    padding-bottom: 0;
    padding-top: 4rem;
    
}
.home h1{
    font-size: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 4rem;
}
.button.fill {
    text-align: center;
    background: black;
    color: #FFF;
    border: none;
    padding: 0.5em 4em 1em;
    border-radius: 0.5rem;
    margin-bottom: 15rem;
}

.button.fill:hover {
    color: #333;
    background: #FFF;
    border: 2px solid black;
}
.about{
    display: flex;
    justify-content: center;
    text-align: center;
}
article{
    width: 50%;
    margin: auto;
}
article img{
    width: 100%;
}
.about p{
    text-align: center;
}