.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    background:rgb(87, 187, 191);
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-top: auto;
}

.icons{
    display: flex;
    flex-wrap: wrap;
}
.site-footer li {
    list-style: none;
    padding: 0 1em;
}
.site-footer i {
    font-size: 1rem;
    color: #fff;
}
.full-circle:hover {
    animation: full-circle 1.1s ease-out;
}