:root {
	--font-size-initial: 12px;
	--font-size-lv2: 14px;
	--font-size-lv3: 16px;
	--font-size-lv4: 18px;

	--spacing-site: 1rem;
	--main-margin:2rem;

	--color-text-main: #000;
}

$path--rel: "../images"; 

@mixin background-image($img, $background-position, $background-size) {
    background: linear-gradient(rgba(121, 204,230,.4),rgba(121, 204,230,.4)), url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: $background-size;

} 
