<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
	</head>
	<body>
		<div class="site">
				<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked="">
				<header class="site-header">
				<div class="site-branding">
					<p class="site-title">{{ site.title }}</p>
					<p class="site-description">{{ site.description }}</p>
				</div>
				
					<label for="main-nav-toggle" id="toggle">Menu</label>
					<nav class="navigation main">
					<ul>
						<li><a href="{{ site.baseurl }}/">Home</a></li>
						<li><a href="{{ site.baseurl }}/about/">About</a></li>
						<li><a href="{{ site.baseurl }}/services/">Services</a></li>
						<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
						<li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
					</ul>
				</nav>
			</header>
			<main class="site-content">
				{{content}}
			</main>
			<footer class="site-footer">
				<p>&copy; 2023 by Personal Life Coach.</p>
				<ul class="icons">
					<li class="full-circle"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li class="full-circle"><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li class="full-circle"><a href="#"><i class="fab fa-twitter"></i></a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
